In [18]:
a = ['hi','shaqx','sid',10]

In [12]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [20]:
for i in a:
    print(i)
    print(i.upper())

hi
HI
shaqx
SHAQX
sid
SID
10

AttributeError: 'int' object has no attribute 'upper'

In [26]:
for i,j in enumerate(a):
    if i % 2 == 0:
        print(i,j)
    else:
        print('This is not even index')

0 hi
This is not even index
2 sid
This is not even index

In [31]:
a = []
for i in range(10):
    a.append(i+1)

In [32]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
b = [i for i in range(0,10)]
b

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [40]:
for i,j in zip(a,b):
    print(i,j)

1 0
2 2
3 4
4 6
5 8
6 10
7 12
8 14
9 16
10 18

In [43]:
myDict = {k:v for (k,v) in zip(a, b)} 
myDict

{1: 0, 2: 2, 3: 4, 4: 6, 5: 8, 6: 10, 7: 12, 8: 14, 9: 16, 10: 18}

In [42]:
[(k,v) for (k,v) in zip(a, b)]

[(1, 0),
 (2, 2),
 (3, 4),
 (4, 6),
 (5, 8),
 (6, 10),
 (7, 12),
 (8, 14),
 (9, 16),
 (10, 18)]

In [57]:
import pandas as pd
df = pd.DataFrame({'a': ['dog','cat','horse']})
df

       a
0    dog
1    cat
2  horse

In [60]:
df['a'].map({'dog':'mouse'})

0    mouse
1      NaN
2      NaN
Name: a, dtype: object