![image](https://miro.medium.com/max/500/1*8vPr-s5Si0YM9zaGaC3MkQ.png)

### Question 1

Create a function named round_number, that takes a float number with 1 decimal places as input and returns a rounded whole number as output.



Eg. round_number(10.1) will give 10 as output

In [12]:
def round_number(number):
    return round(number)

In [13]:
round_number(10.95)

11

In [14]:
a = round_number(10.95)

In [15]:
a

11

In [17]:
type(a)

int

### Additional

In [38]:
# Function that adds 2 numbers
def add_2_num(x,y):
    
    sum_of_2_numbers = x + y
    
    print(sum_of_2_numbers)
    
    # Do not forget THIS LINE !!!!!!!!!!
    return sum_of_2_numbers

In [30]:
# Function that adds 2 numbers
def add_2_num(x,y):
    print(x + y)
    # Do not forget THIS LINE !!!!!!!!!!
    return x + y

In [32]:
add_2_num(10,2)

12

In [39]:
new_variable = add_2_num(10,20)

30

In [40]:
new_variable

30

In [41]:
type(new_variable)

int

# Note- Very important
Please return the values from the functions, otherwise there is no way for you to get the output from the function

### Question 3

Write a function named no_of_items, that takes a list as an input and returns the number of items in the list as an output.





Eg. [1,2,3] as input would give 3 as output.

### Question 14

Write a function named maxintuple, that takes 2 tuples as inputs, and return True, if the maximum value of tuple 1 is greater than or equal to the maximum of tuple 2 and False if the maximum value of tuple 2 is greater than the maximum of tuple 1.



maxintuple((1,2,3,4),(1,2,3)) -> True

maxintuple((1,2,3),(1,2,3,4)) -> False

maxintuple((1,2,3),(1,2,3)) -> True

----

# Note:- This is a jupyter thing, do not rely on it !!!!!! Please

In [42]:
def simple_function(x):
    square = x ** 2
    return square

In [87]:
simple_function(2)

4

### How to slice a list in different ways

In [47]:
a = [1,2,3,4,5,7,8,9]

In [48]:
a[0]

1

In [49]:
a[-1]

9

In [50]:
a[0:3]

[1, 2, 3]

In [52]:
a[-3:-1]

[7, 8]

In [54]:
a[1:7]

[2, 3, 4, 5, 7, 8]

In [55]:
a[1:]

[2, 3, 4, 5, 7, 8, 9]

In [56]:
a[:5]

[1, 2, 3, 4, 5]

In [57]:
a[::1]

[1, 2, 3, 4, 5, 7, 8, 9]

In [58]:
a[::2]

[1, 3, 5, 8]

In [59]:
a[::3]

[1, 4, 8]

In [60]:
a[::4]

[1, 5]

In [61]:
a[::-1]

[9, 8, 7, 5, 4, 3, 2, 1]

In [62]:
a[::-2]

[9, 7, 4, 2]

In [63]:
a[::-3]

[9, 5, 2]

### Question 12

Write a function named returnevenonly, that takes a list as an input and returns only the even item inside that list.



Return list with only even items in the list

In [70]:
a = [9,8,7,6,5,4,3,2,1]

In [77]:
count = 0
for i in a:
#     print(i)
    count += 1
    print('The loop number is ' + str(count))
    if count % 2 == 0:
        print('This is an even loop number')
        print(i)

This is an even loop number
8
This is an even loop number
6
This is an even loop number
4
This is an even loop number
2

In [88]:
def even(a):
    dummy = []
    for i in a:
        if i%2==0:
            dummy.append(i)
    print(dummy)

In [90]:
even([1,2,3,4,5])

[2, 4]

In [110]:
a = [1,2,3]

In [111]:
a

[1, 2, 3]

In [112]:
a.append(99)

In [113]:
a

[1, 2, 3, 99]

In [107]:
a = a.append(10)

In [108]:
a

In [109]:
type(a)

NoneType

In [116]:
b = a[2:5]

In [117]:
b

[3, 99]

In [122]:
a[2:5]

[]

In [123]:
a = [1,2,3]

In [124]:
a = a[2:5]

In [139]:
a = [1,2,3]

In [140]:
a.append({'a':[10,20,30]})

In [141]:
a

[1, 2, 3, {'a': [10, 20, 30]}]