In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [3]:
df=pd.read_excel(r"Bank Personal Loan Modelling.xlsx",sheet_name="Data")
df

C:\Users\user\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

8. Give the statistical summary for all the variables in the dataset.

In [3]:
df.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937913,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747666,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

9. Give all the measures of central tendency for all the quantitative variables which are continuous and discrete.

In [4]:
df[['Age','Experience','Income','Family','CCAvg','Education','Mortgage','Personal Loan','Securities Account','CD Account','Online','CreditCard']].median()

Age                   45.0
Experience            20.0
Income                64.0
Family                 2.0
CCAvg                  1.5
Education              2.0
Mortgage               0.0
Personal Loan          0.0
Securities Account     0.0
CD Account             0.0
Online                 1.0
CreditCard             0.0
dtype: float64

In [5]:
df[['Age','Experience','Income','Family','CCAvg','Education','Mortgage','Personal Loan','Securities Account','CD Account','Online','CreditCard']].mean()

Age                   45.338400
Experience            20.104600
Income                73.774200
Family                 2.396400
CCAvg                  1.937913
Education              1.881000
Mortgage              56.498800
Personal Loan          0.096000
Securities Account     0.104400
CD Account             0.060400
Online                 0.596800
CreditCard             0.294000
dtype: float64

In [6]:
df[['Age','Experience','Income','Family','CCAvg','Education','Mortgage','Personal Loan','Securities Account','CD Account','Online','CreditCard']].mode()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,35,32,44,1,0.3,1,0,0,0,0,1,0

In [7]:
df[['Age','Experience','Income','Family','CCAvg','Education','Mortgage','Personal Loan','Securities Account','CD Account','Online','CreditCard']].kurt()

Age                   -1.153067
Experience            -1.121523
Income                -0.044244
Family                -1.403586
CCAvg                  2.646691
Education             -1.546116
Mortgage               4.756797
Personal Loan          5.529589
Securities Account     4.701013
CD Account            11.633404
Online                -1.844883
CreditCard            -1.182191
dtype: float64

In [8]:
df[['Age','Experience','Income','Family','CCAvg','Education','Mortgage','Personal Loan','Securities Account','CD Account','Online','CreditCard']].skew()

Age                  -0.029341
Experience           -0.026325
Income                0.841339
Family                0.155221
CCAvg                 1.598457
Education             0.227093
Mortgage              2.104002
Personal Loan         2.743607
Securities Account    2.588268
CD Account            3.691714
Online               -0.394785
CreditCard            0.904589
dtype: float64

20. Calculate the Z score of the ‘income’ variable.

In [9]:
Z_score_income=stats.zscore(df['Income'])
Z_score_income

0      -0.538229
1      -0.864109
2      -1.363793
3       0.569765
4      -0.625130
          ...
4995   -0.733757
4996   -1.276892
4997   -1.081363
4998   -0.538229
4999    0.200434
Name: Income, Length: 5000, dtype: float64

19. Do customers using bank internet facilities paid higher?

In [10]:
df.groupby("Online")["Income"].mean()

Online
0    72.978671
1    74.311662
Name: Income, dtype: float64

In [11]:
df.groupby("Online")["Income"].median()

Online
0    63.0
1    64.0
Name: Income, dtype: float64

As the average income is higher with internet facilities. It means that  customers using bank internet facilities paid higher

-


16. Give us the deciles values of the variable ‘Income’ in the dataset.

In [12]:
df['Income'].quantile(np.arange(0.01, 1, 0.1))

0.01     10.00
0.11     23.00
0.21     34.00
0.31     43.00
0.41     53.00
0.51     64.49
0.61     79.00
0.71     90.00
0.81    114.00
0.91    150.00
Name: Income, dtype: float64

In [13]:
df['Decile_rank'] = pd.qcut(df['Income'], 10,
                            labels = False)

In [14]:
df[['Decile_rank','Income']]

      Decile_rank  Income
0               3      49
1               2      34
2               0      11
3               7     100
4               3      45
...           ...     ...
4995            2      40
4996            0      15
4997            1      24
4998            3      49
4999            6      83

[5000 rows x 2 columns]

11. Who are the most frequent family members present in this dataset?

In [15]:
df['Family'].value_counts()

1    1472
2    1296
4    1222
3    1010
Name: Family, dtype: int64

In [16]:
df['Family'].value_counts().idxmax()

1

There are most frequently 1 family members present in dataset.

-
-

13. The ‘Mortgage’ variable is having a lot of zeroes. Impute with some business logical value that you feel fit for the data.

In [17]:
df.replace(0, np.nan, inplace=True) # Replacing Zeros with NaN values

In [18]:
median = df['Mortgage'].median()#Mortgge is an quantiative , discrete in nature we can impute the missing values by mean/median
df['Mortgage'].fillna(median, inplace=True)

In [19]:
df['Mortgage']

0       153.0
1       153.0
2       153.0
3       153.0
4       153.0
        ...
4995    153.0
4996     85.0
4997    153.0
4998    153.0
4999    153.0
Name: Mortgage, Length: 5000, dtype: float64

12. What is the coefficient of variation you can observe in the ‘Income’ variable?

In [20]:
df['Coefficient of variation']= df['Income'].std()/df['Income'].mean()

In [21]:
df['Coefficient of variation'].mean()

0.6239814097757889

0.624 is the coefficient of variation

-


-

17. Give the IQR of all the variables which are quantitative and continuous.

In [18]:
IQR=df[['Age','Income','Family','Education','CCAvg','Personal Loan','Securities Account','CD Account','Online','CreditCard']].quantile(0.75)-df[['Age','Income','Family','Education','CCAvg','Personal Loan','Securities Account','CD Account','Online','CreditCard']].quantile(0.25)

In [19]:
print(IQR)

Age                   20.0
Income                59.0
Family                 2.0
Education              2.0
CCAvg                  1.8
Personal Loan          0.0
Securities Account     0.0
CD Account             0.0
Online                 1.0
CreditCard             1.0
dtype: float64

-

-

10. Can you apply any statistical method to observe any similarity in distribution between age and experience variables?

In [15]:
df[['Age','Experience']].corr()

                 Age  Experience
Age         1.000000    0.994215
Experience  0.994215    1.000000

As the age increases the experience also increases because they are positively correlated.