Q7. Calculate the z score of the following numbers:
X = [4.5,6.2,7.3,9.1,10.4,11]

In [65]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [66]:
x=np.array([4.5,6.2,7.3,9.1,10.4,11])

In [67]:
y=stats.zscore(x)

In [68]:
print('The z score of data is {}'.format(y))

The z score of data is [-1.55385602 -0.81667781 -0.33968015  0.44086148  1.00458598  1.26476653]

Q6. Suppose you have been told to measure the height of all men on the earth. What strategy would you use?

1. Take random sample of 10,000 men. Draw the sizes from a normal distribution.
2. calculate average,variance and standard deviations of the sample population.
3. Take average height as 175 cm for normal distribution.(Value taken from internet)

In [69]:
np.random.seed(40)
xy=np.random.normal(loc=175,scale=9,size=10000)

In [70]:
r1 = np.mean(xy)
print("\nMean: ", r1)
  
r2 = np.std(xy)
print("\nstd: ", r2)
  
r3 = np.var(xy)
print("\nvariance: ", r3)

r4=np.median(xy)
print("\nmedian:",r4)

r5=np.min(xy)
print("\nmin:",r5)

r6=np.max(xy)
print("\nmax:",r6)

r7=np.ptp(xy)
print("\nrange:",r7)

Mean:  175.03187351095653

std:  8.992438905186528

variance:  80.86395746351228

median: 175.08955447683195

min: 135.15026330928336

max: 212.92221238251358

range: 77.77194907323022

Q1. The average selling price of a food item in a restaurant is Rs 250.00 and the standard deviation of the price is Rs 47.00. The median value is an indication of the central value of the data and is close to the mean of Rs 202.00. If you know these details, will you become a regular customer of the restaurant?

Ans. calculate z score from the given data. If z-score is negative then the data point is below average,if the zscore is positive then the data point is above average.

In [71]:
x=202
u=250
sd=47
z_score=(x-u)/sd
print(z_score)

-1.0212765957446808

as the Zscore is negative the data point is below average, most of the food cost are above the median value i.e. 202, which is costly. I will not become a regular customer of the resturant.

-

3. You want to invest in real estate, and you have the data belonging to locality X and Y. Some of the house prices in locality X are 2.00 L,10.00 L, 8.00 L, and 12.00 L and the prices of houses in Y are 2.5 L, 9.50 L, 8.15 L, and 12.50 L. Conduct a statistical measure to decide which locality is best for investment.

In [72]:
x=np.array([2.00,10.00,8.00,12.00])
y=np.array([2.5,9.50,8.15,12.50])

# Finding mean
print("Mean of community x is",x.mean())
print("Mean of community y is",y.mean())
# Finding Median
print("Median of community x is",np.median(x))
print("Median of community y is",np.median(y))
# Finding Standard deviation
print("Standard deviation of community x is",np.std(x))
print("Standard deviation of community y is",np.std(y))
# Finding Range
print("Range of community x is",np.ptp(x))
print("Range of community y is",np.ptp(y))

Mean of community x is 8.0
Mean of community y is 8.1625
Median of community x is 9.0
Median of community y is 8.825
Standard deviation of community x is 3.7416573867739413
Standard deviation of community y is 3.6285973529726334
Range of community x is 10.0
Range of community y is 10.0

community x is better for investment as average price of real estate is low.

-

2. In a residential locality, the average size of a house is 2224 square feet with a standard deviation of 248 square feet which indicates that the distribution of size is fairly the same across the data and the median value of the house is 2220 square feet. Does the locality have bigger or smaller-sized houses?

In [73]:
x=2220
u=2224
sd=248
z_score=(x-u)/sd
print(z_score)

-0.016129032258064516

4. During a survey, the ages of 80 patients, infected by COVID and admitted to one of the city hospitals, were recorded. The collected data is represented in the less-than-cumulative frequency distribution table. Read the questions below the table and provide your answers.

In [77]:
data_df = { 'Age in years':['5-15','15-25','25-35','35-45','45-55','55-65'],
    'No of patients':[6,11,21,23,14,5]}
df=pd.DataFrame(data_df)
df

  Age in years  No of patients
0         5-15               6
1        15-25              11
2        25-35              21
3        35-45              23
4        45-55              14
5        55-65               5

a. Which class interval has the highest frequency?

In [85]:
df.loc[df['No of patients'].idxmax()]

Age in years      35-45
No of patients       23
Name: 3, dtype: object

b. Which age was affected the least?

In [86]:
least_affected_age=df.loc[df['No of patients'].idxmin()]["Age in years"]

In [87]:
least_affected_age

'55-65'

e. What is the median class interval of age?

In [93]:
df['No of patients'].median()

12.5

d. Which is the modal class interval in the above dataset?

In [95]:
modal_class_interval=df.loc[df['No of patients'].idxmax()]["Age in years"]
modal_class_interval

'35-45'

c. How many patients of age 45 years and above were admitted?

Ans. 19 patients above 45 years were admitted.

-

5. Assume, you are a trader and have invested over the years for your retirement. Lately, with the fluctuating economical condition, you are worried about the average return on investment. What average method is appropriate to compute the average return for the data given in the table?

In [97]:
years=[2015,2016,2017,2018,2019,2020]
returns=[0.36,0.23,-0.48,-0.30,0.15,0.31]
asset_price=[5000,6400,7890,9023,4567,3890]

geo_mean_return = np.prod(1+np.array(returns))**(1/len(returns))-1
print("{:.2%}".format(geo_mean_return))

-1.43%