# Python

## Table on Contents

* [Basic Python Data Structures](#bpds)
    * [Variables and Types](#vat)
        * [Numbers](#num)
        * [Strings](#str)
    * [Lists](#lst)
    * [Tuples](#tup)
    * [Sets](#set)
    * [Dictionaries](#dict)

![image.png](https://www.python.org/static/img/python-logo@2x.png)

Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured, object-oriented and functional programming. 

The official Website can be found [here](https://www.python.org/).

## Basic Python Data Structures<a class="anchor" id="bpds"></a>

## Hello World

In [1]:
print('Hello World')

Hello World

# Variables and Types<a class="anchor" id="vat"></a>
1. Numbers
2. Strings

## Numbers<a class="anchor" id="num"></a>

In [2]:
a = 3
b = 3.0
print(a)
print(b)

3
3.0

What is the difference, both look the same.

In [3]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

## Basic math operations

What will happen if we divide the two.

In [4]:
print(a/b)

1.0

In [5]:
print(b/a)

1.0

What will happen if we multiply both.

In [6]:
print(a*b)

9.0

Subtraction

In [7]:
print(a-b)

0.0

Addition

In [8]:
print(a+b)

6.0

Remainder

In [26]:
print(a%b)

0.0

Squared

In [27]:
print(a**2)

9

-----

### Practice
Practice all the operators that you have just seen.

----

## Strings<a class="anchor" id="str"></a>

In [32]:
s1 = "This is a string"
s2 = "This is also a string"
s3 = '''This too is a string''' ## you can write multiline strings using ''' triple quotes '''

Strings are iterables and can be indexed and looped through

### Indexing with indexes

In [34]:
s1[0]

'T'

In [38]:
s1[5]

'i'

In [41]:
s1[-5]

't'

### Getting multiple values

In [42]:
# syntax 
# variable[start_point : end_point]  

# Caveat
#The last element is not included

In [43]:
a = 'Lionel Messi'

In [45]:
a[0:4]

'Lion'

In [47]:
a[5:8]

'l M'

In [54]:
a[1:1]

''

In [49]:
a[5:6]

'l'

### Negative indexing

In [51]:
a = 'Lionel Messi'
a

'Lionel Messi'

In [55]:
a[-1]

'i'

In [56]:
# syntax 
# variable[start_point : end_point]  

# Caveat
#The last element is not included

In [58]:
a[-5:-2]

'Mes'

In [59]:
a[-7:-4]

'l M'

In [61]:
# So, you can indeed mix and match ^_^
a[-2:10]

''

# Run Loops

You can run a loop to iterate over all.

In [62]:
# The snytax for loops is this 
# for i in iterable_item:
#    do_whatever_you_want_with_i

In [68]:
a = "Lionel Messi"

In [71]:
# Example
for i in a:
    print(i)
    print('--------------------')

L
--------------------
i
--------------------
o
--------------------
n
--------------------
e
--------------------
l
--------------------

--------------------
M
--------------------
e
--------------------
s
--------------------
s
--------------------
i
--------------------

## Some peculiarities of strings

In [73]:
s1

'This is a string'

### You can overwrite the string

In [74]:
s1 = 'This is not a string'
print(s1) ## you can overwrite the whole string

This is not a string

In [76]:
# but you can't change the strings in place
s1[0] = "S"

TypeError: 'str' object does not support item assignment

#### When you are working with strings 
- You can, overwrite the whole thing, if you want. Python got no problems with that.
- You can't however overwrite the characters or the elements that make up the string.

In [79]:
print(s1)
print(s2)

This is not a string
This is also a string

you can concatenate two strings

In [78]:
s1 + s2

'This is not a stringThis is also a string'

In [80]:
s1 + " " + s2

'This is not a string This is also a string'

In [81]:
s1 + ". " + s2

'This is not a string. This is also a string'

## Quotes behaviour

In [91]:
a = 'Messi'

In [113]:
b = "Messi"

In [114]:
c = '''Messi'''

In [93]:
a

'Messi'

In [115]:
b

'Messi'

In [116]:
c

'Messi'

In [84]:
type(a)

str

In [117]:
type(b)

str

In [119]:
type(c)

str

# Why do this

In [87]:
# The problem
'I'm lord voldemort. What do you want.'

SyntaxError: invalid syntax (510692092.py, line 1)

In [89]:
# The Solution
#'I'm lord voldemort. What do you want.'

"I'm lord voldemort. What do you want."

"I'm lord voldemort. What do you want."

In [90]:
'I\'m lord voldemort. What do you want.'

"I'm lord voldemort. What do you want."

In [95]:
# This is my problem
I'm Lord Voldemort and the quote of the day is - "Early to bed, early to rise."

SyntaxError: EOL while scanning string literal (1821724589.py, line 1)

In [98]:
# The Solution

In [108]:
# Solution 1 
"I'm Lord Voldemort and the quote of the day is - \"Early to bed, early to rise.\""

'I\'m Lord Voldemort and the quote of the day is - "Early to bed, early to rise."'

In [109]:
'This is a string'
"This is a string"
''' This is a string '''

' This is a string '

In [112]:
# The solution
''' I'm Lord Voldemort and the quote of the day is - "Early to bed, early to rise."'''

' I\'m Lord Voldemort and the quote of the day is - "Early to bed, early to rise."'

# An explanation

In [ ]:
# # Problem 1 
# 'That's his car'

# # Solution 1 
# 'That\'s his car'

# # Solution 2
# "That's his car"

# # --------------------------------------------------------
# # Problem 2
# Quote of the day - "Early to bed, early to rise."

# # Solution 1 
# 'Quote of the day - "Early to bed, early to rise."'

# # Solution 2
# "Quote of the day - \"Early to bed, early to rise.\""


# # --------------------------------------------------------

# # Problem 3 
# That\'s his car. Quote of the day - "Early to bed, early to rise."

# # Solution 1 
# ''' That\'s his car. Quote of the day - "Early to bed, early to rise." '''

## F String

A way for us to dynamically create strings.

In [126]:
a = 'Messi'
b = 'Ronaldo'

In [132]:
"The greatest football player is " + a + ". He is my favourite"

'The greatest football player is Messi. He is my favourite'

In [137]:
"The greatest football player is " + b + ". He is my favourite"

'The greatest football player is Ronaldo. He is my favourite'

### Examples

In [135]:
'This is a string'

'This is a string'

In [136]:
f'This is an f string'

'This is an f string'

In [138]:
# When normal
'This is a string. We can do this {}'

'This is a string. We can do this {}'

In [142]:
# When f string
# f'This is a f string. We can do this {}'

In [143]:
f'This is a f string. We can do this {a}'

'This is a f string. We can do this Messi'

In [144]:
f'This is a f string. We can do this {b}'

'This is a f string. We can do this Ronaldo'

In [145]:
principal_amt = 100
interest_rate = 0.05
years = 5

In [146]:
# i have to calculate simple interest

f'Greetings customer, your amount with us is {principal_amt} with the interest rate of {interest_rate}, and you have deposited your money with us {years} ago. Your total simple interest is {principal_amt * interest_rate * years}.'

In [148]:
f'Greetings customer, your amount with us is {principal_amt} with the interest rate of {interest_rate}, and you have deposited your money with us {years} ago. Your total simple interest is {principal_amt * interest_rate * years}.'

'Greetings customer, your amount with us is 100 with the interest rate of 0.05, and you have deposited your money with us 5 ago. Your total simple interest is 25.0.'

<h1><center>Methods</center></h1>

![](https://media.tenor.com/X67aTdCdqjcAAAAC/robert-downey-jr-interesting.gif)

# String methods

In [149]:
a = "Lionel Messi"

In [150]:
a

'Lionel Messi'

In [151]:
type(a)

str

In [152]:
a.capitalize()

'Lionel messi'

In [153]:
'lionel messi'.capitalize()

'Lionel messi'

In [158]:
a.count('L')

1

In [159]:
a.upper()

'LIONEL MESSI'

In [160]:
a.lower()

'lionel messi'

### How do i find out which method does what.

In [161]:
?a.find

In [163]:
'My name is siddharth'.find('i')

8

In [164]:
?a.join

# Integer Methods

In [165]:
a = 10

In [169]:
a.denominator

1

In [171]:
a.numerator

10

# Float Methods

In [172]:
a = 10.5

In [174]:
a.real

10.5

## Lists<a class="anchor" id="lst"></a>
- Lists are general buckets
- They can be used to store many types of data including lists themselves

In [175]:
my_list = [1,2,3,4,'a','b', 10.3, 11.5]

In [177]:
type(my_list)

list

In [189]:
my_list[0]

1

### When we want 1 stuff at a time

In [188]:
my_list[7]

11.5

### When we want more than 1 stuff at a time

In [192]:
my_list = [1,2,3,4,'a','b', 10.3, 11.5]

In [ ]:
# The logic remains the same
# your_variable[start_index : end_index]  #The last item is NOT included !!!!!!!!!!!!!!!!!!

In [193]:
my_list[0:3]

[1, 2, 3]

In [198]:
my_list[5:5]

[]

In [199]:
my_list[-5:5]

[4, 'a']

# Important
![](https://media.tenor.com/LoNa2zOMxoAAAAAC/its-very-important-it-matters.gif)

When, we were working with strings. 
- When we asked for 1 item back, we got a string back
- When we asked for multiples items back, we still got a string back. 

Just to prove it to you. Let me show you.

In [201]:
a = "Lionel Messi"

In [202]:
a[0]

'L'

In [203]:
type(a[0])

str

In [204]:
a[0:3]

'Lio'

In [205]:
type(a[0:3])

str

# This is important, because how it behaves with lists

In [206]:
my_list = [1,2,3,4,'a','b', 10.3, 11.5]

In [207]:
my_list[2]

3

In [208]:
type(my_list[2])

int

In [210]:
my_list[5]

'b'

In [211]:
type(my_list[5])

str

In [212]:
my_list[7]

11.5

In [213]:
type(my_list[7])

float

#  But, what happens when we ask for multiple items back

In [214]:
my_list = [1,2,3,4,'a','b', 10.3, 11.5]

In [215]:
my_list[0:3]

[1, 2, 3]

In [216]:
type(my_list[0:3])

list

### What python does is 
From a list, whenever we ask for multiple items back. It returns us those items back but only after packing them inside a list.

In [224]:
my_list[4:6]

['a', 'b']

# Something to remember
Whenever i will ask for items using the ```[start:end]``` syntax. We will get the output wrapped in a list.

In [225]:
my_list = [1,2,3,4,'a','b', 10.3, 11.5]

In [226]:
my_list[-7:7]

[2, 3, 4, 'a', 'b', 10.3]

In [227]:
# Guess
my_list[3:3] # this will give us an empty list, not nothing, but something

[]

In [228]:
type(my_list[3:3])

list

# Loops

In [229]:
my_list = [1,2,3,4,'a','b', 10.3, 11.5]

In [230]:
# The snytax for loops is this 
# for i in iterable_item:
#    do_whatever_you_want_with_i

In [233]:
for i in my_list:
    print(i)
    print('-------------')

1
-------------
2
-------------
3
-------------
4
-------------
a
-------------
b
-------------
10.3
-------------
11.5
-------------

In [ ]:
my_list = [1,2,3,4,'a','b', 10.3, 11.5]

In [234]:
for i in my_list:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>

### You can add them together

In [236]:
my_list = [1,2,3,4,'a','b', 10.3, 11.5]
my_list_2 = [80,90,100]

In [237]:
my_list + my_list_2

[1, 2, 3, 4, 'a', 'b', 10.3, 11.5, 80, 90, 100]

### Adding 2 lists together just appends them

# List Methods

In [238]:
my_list = [1,2,3,4,'a','b', 10.3, 11.5]

In [239]:
my_list

[1, 2, 3, 4, 'a', 'b', 10.3, 11.5]

In [241]:
my_list.append(100)

In [242]:
my_list

[1, 2, 3, 4, 'a', 'b', 10.3, 11.5, 100]

In [243]:
my_list.append(90)

In [248]:
my_list

[1, 2, 3, 4, 'a', 'b', 10.3, 11.5, 100, 90]

In [249]:
temp_list = [1,1,1,0,0,0,2,2]

In [260]:
# Let's look at something else
temp_list.count(2)

2

In [261]:
temp_list = [1,1,1,0,0,0,2,2]

In [262]:
temp_list

[1, 1, 1, 0, 0, 0, 2, 2]

In [263]:
# I am sorting it
temp_list.sort()

In [266]:
temp_list

[0, 0, 0, 1, 1, 1, 2, 2]

In [267]:
my_list

[1, 2, 3, 4, 'a', 'b', 10.3, 11.5, 100, 90]

In [268]:
my_list.insert(0,'I have inserted this here')

In [270]:
my_list

['I have inserted this here', 1, 2, 3, 4, 'a', 'b', 10.3, 11.5, 100, 90]

# Overwriting stuff in lists

In [272]:
# A recap
a = 'Lionel Messi'

In [273]:
# Overwrite string
a = "CR7"

In [274]:
a

'CR7'

In [276]:
# You can't overwrite individual elements of the string
a[0] = 'S'

TypeError: 'str' object does not support item assignment

# Well in lists, it is a bit different

In [278]:
a = [1,2,3]

In [279]:
a

[1, 2, 3]

In [281]:
# Me overwriting the whole thing
a = [4,5,6]

In [282]:
a

[4, 5, 6]

In [283]:
a = [1,2,3]

In [284]:
a

[1, 2, 3]

### Can i, overwrite individual elements

In [285]:
a

[1, 2, 3]

In [286]:
# Let's see
a[0] = 100

In [287]:
a

[100, 2, 3]

## Tuples<a class="anchor" id="tup"></a>
- Work for the most part like lists
- Their values can't be changed in-place.

In [288]:
my_tuple = (1,2,3,4)
my_list = [1,2,3,4]

### You can loop over it

In [289]:
for i in my_tuple:
    print(i)

1
2
3
4

### You can ask for items

In [290]:
my_tuple[0]

1

In [293]:
my_tuple[0:2]

(1, 2)

In [ ]:
my_tuple = (1,2,3,4)

In [294]:
my_tuple[1:1]

()

### When asking for multiple items back, look at what happens

In [295]:
my_tuple[0:2]

(1, 2)

In [297]:
my_tuple[1:1]

()

# What is the difference

In [300]:
a = (1,2,3,4)

In [301]:
a

(1, 2, 3, 4)

In [302]:
# Overwriting it
a = (5,6,7,8)

In [303]:
a

(5, 6, 7, 8)

### Can i overwrite individual elements, like i can do in a list.

In [305]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

![](https://media.tenor.com/RnpyvQFKDpwAAAAC/you-cant-no.gif)

# Tuple Methods

In [307]:
a = (1,1,1,2,3)

In [309]:
a.count(1)

3

## Sets<a class="anchor" id="set"></a>

- They behave like mathematical sets
- Come in handy while doing set operations such as intersection (to find common items) etc

In [311]:
# finds the unique alphabets in a string
set("india")

{'a', 'd', 'i', 'n'}

In [313]:
set_a = set(['a','b','c','c','c'])
set_b = {'b','c','d','b','b'}

In [314]:
set_a

{'a', 'b', 'c'}

In [315]:
set_b

{'b', 'c', 'd'}

# You can loop over it

In [320]:
for i in set_a:
    print(i)

b
a
c

### Can you ask for items inside.

In [317]:
set_a[0]

TypeError: 'set' object is not subscriptable

### We can't

In [321]:
set_a

{'a', 'b', 'c'}

In [322]:
set_b

{'b', 'c', 'd'}

# Set Methods

In [323]:
set_a.intersection(set_b)

{'b', 'c'}

In [324]:
set_a.union(set_b)

{'a', 'b', 'c', 'd'}

## Dictionaries<a class="anchor" id="dict"></a>

- Key-value pairs
- Indices have no order

In [17]:
d = {'name':'a','age':29,'prev_companies':['abc','def']}

In [18]:
d

{'name': 'a', 'age': 29, 'prev_companies': ['abc', 'def']}

### How do i get stuff

In [19]:
d['name']

'a'

In [22]:
d['prev_companies']

['abc', 'def']

In [26]:
d['prev_companies'][-2]

'abc'

In [ ]:
d['prev_companies'][-1]