**package dependencies**
- pandas=1.4.3
- sklearn=1.1.1
- matplotlib=3.5.2
- jupyterlab=3.4.3
- python=3.9.13

In [2]:
import pandas as pd
df=pd.read_csv('hmeq.csv')
df.head(2)

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN

**Data**

- BAD: 1 = client defaulted on loan 0 = loan repaid
- LOAN: Amount of the loan request
- MORTDUE: Amount due on existing mortgage
- VALUE: Value of current property
- REASON: DebtCon = debt consolidation HomeImp = home improvement
- JOB: Six occupational categories
- YOJ: Years at present job
- DEROG: Number of major derogatory reports
- DELINQ: Number of delinquent credit lines
- CLAGE: Age of oldest trade line in months
- NINQ: Number of recent credit lines
- CLNO: Number of credit lines
- DEBTINC: Debt-to-income ratio

In [3]:
df.isnull().sum()

BAD           0
LOAN          0
MORTDUE     518
VALUE       112
REASON      252
JOB         279
YOJ         515
DEROG       708
DELINQ      580
CLAGE       308
NINQ        510
CLNO        222
DEBTINC    1267
dtype: int64

In [4]:
df_na = df.dropna()

In [5]:
clust_var=["LOAN","MORTDUE","VALUE","YOJ","DEROG","DELINQ","CLAGE","NINQ","CLNO","DEBTINC"]

In [6]:
data_clust=df_na[clust_var]

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
scale = StandardScaler()

In [9]:
scaled_df = scale.fit_transform(data_clust)

In [10]:
scaled_df

array([[-1.6051791 , -1.01359437, -1.22772765, ..., -0.02417185,
        -1.50375539,  0.37460073],
       [-1.59598268, -1.05897162, -1.17812979, ..., -0.66952199,
        -1.50375539,  0.34583182],
       [-1.55000061,  0.57931136,  0.24582581, ..., -0.66952199,
        -0.97104339, -0.32036154],
       ...,
       [ 6.44168445, -0.49246566, -0.26639908, ..., -0.66952199,
        -0.75795859,  0.17875445],
       [ 6.49686294, -0.57397173, -0.28582522, ..., -0.66952199,
        -0.65141619,  0.02583963],
       [ 6.50605935, -0.60854804, -0.33931561, ..., -0.66952199,
        -0.65141619,  0.0548497 ]])

In [11]:
from sklearn.cluster import KMeans

In [12]:
mod = KMeans(n_clusters=4)

In [15]:
mod = mod.fit(scaled_df)

/home/infinity/anaconda3/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [19]:
len(mod.labels_)

3364

In [20]:
mod.labels_

array([1, 1, 1, ..., 2, 2, 2], dtype=int32)

In [22]:
df_na.shape

(3364, 14)

In [21]:
df_na['cluster_4'] = mod.labels_

/tmp/ipykernel_18470/4062743754.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na['cluster_4'] = mod.labels_

In [26]:
df_na.head(2)

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC,cluster_4
5,1,1700,30548.0,40320.0,HomeImp,Other,9.0,0.0,0.0,101.466002,1.0,8.0,37.113614,1
7,1,1800,28502.0,43034.0,HomeImp,Other,11.0,0.0,0.0,88.766030,0.0,8.0,36.884894,1

# Cluster Profiling

In [27]:
df_na.groupby('cluster_4').mean()

/tmp/ipykernel_18470/2173819283.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_na.groupby('cluster_4').mean()

,BAD,LOAN,MORTDUE,VALUE,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
cluster_4,,,,,,,,,,,
0,0.422111,16563.819095,64479.527638,91864.989950,7.085427,1.683417,1.944724,165.568584,1.728643,26.311558,34.843068
1,0.084707,16185.673678,62145.012507,86812.417851,5.436612,0.042638,0.142126,144.106537,1.042638,19.238772,33.459011
2,0.066978,29847.663551,141051.738318,187590.607477,8.054517,0.063863,0.144860,216.670939,0.962617,27.733645,37.037748
3,0.031414,17678.534031,57335.089005,91907.481675,18.982984,0.056283,0.272251,239.958724,0.908377,22.918848,33.069702

**Data**

- BAD: 1 = client defaulted on loan 0 = loan repaid
- LOAN: Amount of the loan request
- MORTDUE: Amount due on existing mortgage
- VALUE: Value of current property
- REASON: DebtCon = debt consolidation HomeImp = home improvement
- JOB: Six occupational categories
- YOJ: Years at present job
- DEROG: Number of major derogatory reports
- DELINQ: Number of delinquent credit lines
- CLAGE: Age of oldest trade line in months
- NINQ: Number of recent credit lines
- CLNO: Number of credit lines
- DEBTINC: Debt-to-income ratio

In [23]:
df_na.mean()

/var/folders/7h/01sjg2sx6tl3y72r2klm24c80000gn/T/ipykernel_3931/751415334.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_na.mean()

BAD               0.089180
LOAN          19154.399524
MORTDUE       76249.621581
VALUE        107501.385850
YOJ               9.110285
DEROG             0.146849
DELINQ            0.278835
CLAGE           180.993684
NINQ              1.037455
CLNO             22.114150
DEBTINC          34.135451
cluster_4         1.318074
dtype: float64

**Profiles**
- Cluster 0 and 1 have average bad rate. Cluster 0 is characterized by high loan amount mortgage due and debt to income ratio
- Custer 2 is high risk cluster, this has above average delinquent credit lines.
- Cluster 3 is low risk cluster with above average years on job and age of oldest trade line in months