In [2]:
import pandas as pd
import numpy as np

# Q1

Whether I choose to become a regular customer of a restaurant depends on several factors, including the food quality, restaurant atmosphere, and customer service. However, based on the given information, the mean price is significantly higher than the median value. This indicates that there are several menu items that are driving the average price up.

Additionally, the standard deviation of Rs 47.00 suggests that the prices of food items at the restaurant vary to some extent. This means that while some items may be priced higher than the average, others may be priced lower. Considering this information, I classify the restaurant as being in the expensive category.

Based on these observations, I would prefer to visit the restaurant occasionally, but I do not envision myself becoming a regular customer.

# Q2

Since the average size is larger than the median, it suggests that there are some significantly larger houses in the locality, pulling the average up. Additionally, the small standard deviation indicates that most of the houses have sizes close to the mean. Therefore, based on these observations, it is reasonable to conclude that the locality consists of bigger-sized houses.

# Q3

In [2]:
Q3 = pd.DataFrame({"X": [2,10,8,12], "Y": [2.5,9.5,8.15,12.50]})
Q3

    X      Y
0   2   2.50
1  10   9.50
2   8   8.15
3  12  12.50

In [8]:
print("The standard deviation of the prices in 'X' locality is", Q3["X"].std())
print("The standard deviation of the prices in 'Y' locality is", Q3["Y"].std())

The standard deviation of the prices in 'X' locality is 4.320493798938574
The standard deviation of the prices in 'Y' locality is 4.189943317039027

Based on the standard deviations, we can see that Locality Y has a slightly lower standard deviation compared to Locality X. This indicates that the house prices in Locality Y are less variable or have less dispersion around the mean which suggests potentially lower risk in terms of price fluctuations.

# Q4

In [4]:
q4 = pd.DataFrame({"Age(in yrs.)": ['5-15','10-25','25-35','35-45','45-55','55-65'],
                  "No. of Patients": [6,11,21,23,14,5]})
q4

  Age(in yrs.)  No. of Patients
0         5-15                6
1        10-25               11
2        25-35               21
3        35-45               23
4        45-55               14
5        55-65                5

In [7]:
#Q4(a)
q4["No. of Patients"].max()

23

# Q5

In [14]:
Q5 = pd.DataFrame({
    "Year": [2015,2016,2017,2018,2019,2020],
    "Return": [0.36,0.23,-0.48,-0.30,0.15,0.31],
    "Asset Price": [5000,6400,7890,9023,4567,3890]
})
Q5

   Year  Return  Asset Price
0  2015    0.36         5000
1  2016    0.23         6400
2  2017   -0.48         7890
3  2018   -0.30         9023
4  2019    0.15         4567
5  2020    0.31         3890

In [16]:
from scipy.stats import gmean

In [18]:
print(gmean(Q5['Return']))

nan

# Q6

I will conduct random sampling on a country-by-country basis, selecting a substantial sample size of men from each country. From these samples, I will calculate the mean size for each group. Finally, I will calculate the overall mean by considering all the individual means, resulting in a reliable estimate of the average size of men worldwide

# Q7

In [5]:
X = [4.5,6.2,7.3,9.1,10.4,11]
m = np.mean(X)
print("mean =", m)
std = np.std(X)
print("std deviation =", std)
for i in range(0,len(X)):
    z = (X[i] - m)/std
    print(f"z-score for {X[i]} is", z)

mean = 8.083333333333334
std deviation = 2.3060909686210462
z-score for 4.5 is -1.553856019598407
z-score for 6.2 is -0.816677814951721
z-score for 7.3 is -0.3396801531215125
z-score for 9.1 is 0.44086147532791964
z-score for 10.4 is 1.004585984763621
z-score for 11 is 1.2647665275800983