# Importing stuff

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')

In [5]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

# Multiple Linear Regression

In [43]:
df.head(2)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA

In [41]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [44]:
X = df[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'sqft_above', 'sqft_basement']]

In [45]:
y = df['price']

In [46]:
X.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement
0,3.0,1.50,1340,7912,1.5,1340,0
1,5.0,2.50,3650,9050,2.0,3370,280
2,3.0,2.00,1930,11947,1.0,1930,0
3,3.0,2.25,2000,8030,1.0,1000,1000
4,4.0,2.50,1940,10500,1.0,1140,800

In [47]:
y.head()

0     313000.0
1    2384000.0
2     342000.0
3     420000.0
4     550000.0
Name: price, dtype: float64

In [48]:
from sklearn.linear_model import LinearRegression

In [50]:
# Initialising my linear regression model
lr = LinearRegression()

In [51]:
# Fitting our linear regression model
lr.fit(X,y)

LinearRegression()

### Now, let's see what parameters has python found

In [52]:
lr.coef_

array([-5.89311776e+04,  9.26269334e+03,  1.96118718e+02, -6.95726596e-01,
        9.28870213e+03,  7.83422902e+01,  1.17776428e+02])

In [53]:
lr.intercept_

129179.44654225471

# Let's try to use it

In [54]:
df[['sqft_living','sqft_lot','price']].head()

   sqft_living  sqft_lot      price
0         1340      7912   313000.0
1         3650      9050  2384000.0
2         1930     11947   342000.0
3         2000      8030   420000.0
4         1940     10500   550000.0

In [27]:
# Let's get predictions
(257.13000008 * 1940) + (-0.66039049 * 10500) + 11681.16581566364

503579.2658258637

# Let's get some RMSE

In [29]:
X

      sqft_living  sqft_lot
0            1340      7912
1            3650      9050
2            1930     11947
3            2000      8030
4            1940     10500
...           ...       ...
4595         1510      6360
4596         1460      7573
4597         3010      7014
4598         2090      6630
4599         1490      8102

[4600 rows x 2 columns]

In [55]:
# Let's get prediction on our training data
y_pred = lr.predict(X)

In [56]:
y

0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4598    2.034000e+05
4599    2.206000e+05
Name: price, Length: 4600, dtype: float64

### Let's compare our model's predictions with the real stuff

In [57]:
# Importing metrics for the evaluation of the model
from sklearn.metrics import r2_score,mean_squared_error

In [58]:
# calculate Mean square error
mean_squared_error(y,y_pred)

256520749919.1151

In [60]:
mse = mean_squared_error(y,y_pred)

In [61]:
import math

In [62]:
math.sqrt(mse)

506478.77538857947

In [40]:
# Point to remember, whatever input at time of training, will be input at time of prediction

In [ ]:
# We Meet now at 5:30

In [64]:
# Importing metrics for the evaluation of the model
from sklearn.metrics import r2_score,mean_squared_error

In [63]:
# Calculate R square value
r2_score(y,y_pred)

0.19292607021792196